.principal{
				width: 80%;

			}

			.header{
				width: 100%;
				height: 150px;
				background-color: black;
				color: white; 
				text-align: center;
			
			}

			.lila2{
				
				height: 400px;
				background-color: #F20BDF;
				margin-left: 70px;


			}

			.lila1{
				height: 400px;
				background-color: #F20BDF;
				margin: 0px 20px;

			}

			.botones{
				margin: 10px 30px 50px 40px;
				font-size: 20px;
			}

			.azul{
				height: 150px;
				background-color: blue;
				margin: 20px 0px 20px 20px;
				padding: 10px;
				display: flex;
				flex-flow: row-reverse wrap;
				
			}

			.verde{
				background-color: green;
				height: 400px;
				margin-left: 20px;
			}
			
			.verde1{
				background-color: green;
				height: 400px;
				margin-left: 90px;

			}

			.amarillo {
				background-color: yellow;
				height: 200px;
				margin: 20px 20px;
			}

			.mapa {
				width: 200px;
				height: 150px;
				margin-top: 20px;
				margin-left: 20px;
			}

			.pancho {
				width: 80px; 
				height: 100px; 
			}

			/*-------------MEDIA----------*/

			@media screen and (max-width: 400px) {
				/*body{
					background:green;
				}

				aside{
					display:none;
				}*/
				nav a{
					display:block;
					
					
				}

				.botones{
					margin: 0px;
					font-size: 15px;
				}

				.menu{
					position: absolute;
					z-index: 100;
					right: 0;
					text-align: right;

				}

				
					


			}