.contenedor{
	margin: 0auto;
 height: 300px;
 width: 900px;

}


.bola{
	height: 300px;
	width:300px;
	border-radius: 50%;
    float: left;
    background-color: white;
    opacity: 0,4;
}

.verde:cover{

	opacity: 0,5;
	background-color: white;
}

.verde{
	background-color: green;
}

.azul{
	background-color: blue;
}

.roja{
background-color: red;
}