.celeste{
	background-color: blue;
}

.rosa{
	background-color: #EC06C9;
}

.naranja{
	background-color: orange;
}

.alto{
	height: 200px;
}

.caja{
	border:1px solid black;
	padding: 30px;
	font-size: 30px;
}


#azul {
	background-color: cyan; 
}

#rojo{
	background-color: red;
}

#rosa{
	background-color: #F213E5;
}